$background-colour: #E5E5E5;
$primary: #F4F3EE;
$white-colour: #FFFFFF;
$accent-colour: #C32C72;
$logo-colour: #262626;
$text-colour: #463F3A;
$light-grey-colour: #E2E2E2;
$grey-colour: #8D8D8D;
$dark-grey-colour: #6A6A6A;